$primary_color: #90ac19;$secondary_color: #bfac1a;$third_color: #a25f97;$four_color: #abcd52;$five_color: #1ab9ff;$regular_color: #a25f97;$link_color: #90ac19;$link_color_hover: #e8931a;$link_color_active: #ffeacf;
                $body_default_font: Prompt;
            
                $heading_default_font: Fredoka;
            